<header>
  <h1>Tiny App</h1>
  <h3>we make</h3>
  <h4>your</h4>
  <h6>tiny</h6>

<% if (urlArray) { %>
  <h2><%= urlArray.email %></h2>
  <% for(var i in urlArray.urlsList) {%>
        <form  action=<%="/urls/" + urlArray.urlsList[i] + "/delete"%> method="POST">
          <label for= ""><%= urlArray.urlsList[i] %> => <%= data[urlArray.urlsList[i]] %></label>
          <a href=<%="/urls/" + urlArray.urlsList[i] %> >Edit</a>
          <button type="submit">Delete</button
        </form>

  <% } %>
  <a href="/urls/new">New Url</a>
<% } %>

<% if( user ) { %>
    <h2>Username is:
        <%= user.email %>
      </h2>
      <a href="/">Home</a>
      <a href="/urls/new">ADD URL</a>

    <form class="" action="/logout" method="post">
      <button name="button">logout</button>
    </form>
  <% } else { %>
    <h2>Register
      </h2>
      <a href="/register">register</a>
      <a href="/login">login</a>

  <% } %>